<div class="page" id="about-me">
  <h3 class="centered">About Me</h3>
  <div class="intro">
    <p>
      <img
        src="/Photography/Optimized/IMG_2846.jpeg"
        class="aboutImg"
      />
      Hi, I'm Ethan, an engineer with a passion for building things. As
      a second-year Computer Engineering student at the University of
      Guelph, I love turning ideas into tangible solutions.
      <br /><br />My experience spans everything from 3D printed engines
      to autonomous robots. I enjoy learning new technologies and always
      push myself to find innovative solutions for problems wether that
      be optimizing PCB layout, mentoring others in competitions, or
      developing tools to improve life. <br /><br />
      I'm an Electrical Team Lead on the UofG Robotics team where I
      design PCBs, write firmware for STM32 microcontrollers, and
      maintain documentation. <br />
    </p>
  </div>
  <div class="education">
    <h3>Education</h3>
    <div class="leftPadBig">
      <p class="noMarginBottom">2024-2029 (Expected)</p>
      <h4 class="noMargin">
        Bachelor of Engineering, Computer Engineering w/ Co-op
      </h4>
      <p class="noMarginTop">University of Guelph | Guelph Ontario</p>
      <ul class="listDot leftPadBig">
        <li>
          3.8 cGPA, Dean's Honour list for the following semesters: W25,
          F25, W26
        </li>
        <li>
          University of Guelph Robotics Team: Electrical Sub Team Lead
        </li>
        <li>University of Guelph Racing Team: Frame Sub Team Member</li>
      </ul>
      <p class="noMarginBottom">2020-2024</p>
      <h4 class="noMargin">Ontario Secondary School Diploma</h4>
      <p class="noMarginTop">
        Huron Heights Secondary School | Kitchener Ontario
      </p>
      <ul class="listDot leftPadBig">
        <li>Ministry of Education Ontario Scholar Award</li>
        <li>Excellence in Technology Award</li>
        <li>
          Relevant Courses: Tech Design (11-12), Comp. Tech (9-12),
          Comp. Sci (11-12)
        </li>
        <li>HHSS Robotics Club: Vice President</li>
      </ul>
    </div>
    <h3>Experience</h3>
    <div class="leftPadBig">
      <p class="noMarginBottom">May 2026 - August 2026</p>
      <h4 class="noMargin">Systems Engineering Co-op Analyst</h4>
      <p class="noMarginTop">
        Toyota Motor Manufacturing Canada | Cambridge Ontario
      </p>
      <ul class="listDot leftPadBig">
        <li>
          Developing full stack software solutions for the shop floor
        </li>
      </ul>
      <p class="noMarginBottom">May 2025 - April 2026</p>
      <h4 class="noMargin">Process Control</h4>
      <p class="noMarginTop">
        Toyota Motor Manufacturing Canada | Cambridge Ontario
      </p>
      <ul class="listDot leftPadBig">
        <li>
          Supported final assembly operations using Toyota Production
          System principles to maintain workflow efficiency
        </li>
        <li>Obtained 19 quality catches on the line</li>
      </ul>
    </div>
  </div>
</div>
