* {
    font-family: -apple-systrem,BlinkMacSystremFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    color: #FBFAF5;
}

body{
    background-color: #000814;
    background-image:url("/Branding/background2.png");
    background-position: center;
    overflow: visible;
}

a{
    text-decoration: none   ;
}

td{
    padding: 0.25em;
    width: 50%;
}

h3{
    line-height: 1.25em;
}

.fullWidth{
    width: 100%;
}

.row{
    padding: 0;
}

section{
    line-height: 0;
    text-align: center;
    position: relative;
    background-color: #333333;
}

p{
    line-height: 1em;
}

#mainContent{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0; 
    padding-left: 10%;
    padding-right : 10%;
    width: 70%;
    margin-left:  auto;
    margin-right: auto;
    display: flex;
    height: fit-content;
    min-height: 100%;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

section ul {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    opacity: 0;
}

.contentThumb{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1;
    transition: opacity .5s  ease-in-out;
}

.moreInfoHeader{
    aspect-ratio: 3;
    object-fit:cover;
    width:100%;
    /* border-radius:1em; */
    margin-top: 1em;
    margin-bottom: 1em;
}

.techIcon{
    height: 1.3em;
    display: inline;
    aspect-ratio: 1;
    object-fit: cover;
    position:relative;
    top:0.3em;
    margin-left: 0.3em;
}

section:hover .contentThumb{
    opacity: 0.1;
}

section:hover ul{
    opacity: 1;
}

.leftPad{
    margin-left: 0.5em;
}
.frosted{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

.underlined{
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.nav{
    width: 30%;
    padding: 1em;
}

.content{
    position: relative;
    width: 70%;
    padding: 1em;
    padding-top: 6.85em;
    
}

.page {
    overflow-y: auto;
    z-index: 0;
    display: none;
    top:0;
    bottom: 0;
}

.page p{
    line-height:1em;
}

.page h2{
    margin-bottom: 0;
}

.page:target {
    left: 0vw;
    z-index: 1;
    visibility: inherit;
    display: block;
}

#projects h3{
    text-align: center;
}

#photography h3{
    text-align: center;
}

#awards h3{
    text-align: center;
}

#about-me h3{
    text-align: center;
}

#projects p{
    text-align: center;
}

#photography p{
    text-align: center;
}

#awards p{
    text-align: center;
}

#about-me p{
    text-align: center;
}

#projectsNav li{
    display: inline;
    padding-left: 1em;
    padding-right:1em;
}

#projectsNav{
    display: flex;
    justify-content: center;
}

#photography table tr td img {
    width: 100%;
}

.projectPagesNavText:hover{
    cursor: pointer;
}

#photoCol1{
    vertical-align: top;
    padding:0;
    padding-right: 0.5em;
}

#photoCol2{
    vertical-align: top;
    padding:0;
}

#photoCol1 img{
    padding-bottom: 0.5em;
}

#photoCol2 img{
    padding-bottom: 0.5em;
}

#awards ul li{
    list-style-type:disc;
    margin-left: 1em;
}

#awards ul li p{
    margin:0.25em;
    text-align: left;
}

#about-me p{
text-align: left;
line-height: 1.5em;
}

#rights{
    text-align: left;
}

.iconList{
    display: flex;
}

.iconListItem{
    width: 1.5em;
    height: 1.5em;
}

.iconListItem img{
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
}

@media only screen and (max-width:1024px){
    #mainContent {
        width: 100%;
        padding: 0;
        display: block;
    }

    .frosted{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        mask: none;
    }

    .nav{
        margin: auto;
        width: 80%;
        padding-bottom: 0;
        padding-top: 0;
    }

    .content{
        margin:auto;
        width: 80%;
        padding-top: 0;
    }

    #projectsNav li a{
        font-size: 1.5em;
    }

    .miniTitle {
        font-size:1em;
        line-height: 1em;
        margin: 0;
    }

    #projects tr section ul{
        width: 90%;
        top:35%;
    }

    .nav ul li a{
        font-size: 1.25em;
    }

    .nav p{
        font-size: 1.5em;
    }

    #rights{
        font-size:1em;
    }

    .leftPad{
        padding-left: 1em;
    }
 
    .tldr{
        margin-top:0.5em;
    }
}