<div class="nav">
  <h1>Ethan Huber</h1>
  <hr class="solid" />
  <p class="bold">Navigation</p>
  <ul>
    <li class="italic">
      <a routerLink="/home" id="homeButton">Home</a>
    </li>
    <li class="italic">
      <a routerLink="/projects" id="projectsButton">Projects</a>
    </li>
    <li class="italic">
      <a routerLink="/photography">Photography</a>
    </li>
    <li><br /></li>
    <li class="italic">
      <a routerLink="/about-me">About Me</a>
    </li>
    <li class="italic">
      <a routerLink="/resume">Resume</a>
    </li>
    <li><br /></li>

    <ul class="iconList">
      <li class="iconListItem">
        <a href="https://github.com/zushiEdu/" target="_blank">
          <img class="singleHeight" src="/Branding/github.svg" />
        </a>
      </li>
      <li class="leftPad iconListItem">
        <a href="https://www.instagram.com/ethan_huber_/" target="_blank">
          <img class="singleHeight" src="/Branding/instagram.svg" />
        </a>
      </li>
      <li class="leftPad iconListItem">
        <a href="mailto:ehuber@zushiedu.com">
          <img class="singleHeight" src="/Branding/email.svg" />
        </a>
      </li>
      <li class="leftPad iconListItem">
        <a
          href="https://www.linkedin.com/in/ethan-huber-31a68029a/"
          target="_blank"
        >
          <img class="singleHeight" src="/Branding/linkedin.png" />
        </a>
      </li>
    </ul>
  </ul>
</div>
